<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitionalt//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <title>IKA Log-in</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>

  <body>

    <!-- NAVBAR -->

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">IKA IMAGE</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 search-bar">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Sign up</a>
          </li>
          <li class="navbar-item">
            <select class="custom-select">
              <option value="Albanian">Albanian</option>
              <option value="Bulgarian">Bulgarian</option>
              <option value="Egyptian">Egyptian</option>
              <option value="English" selected>English</option>
              <option value="French">French</option>
              <option value="German">German</option>
              <option value="Greek">Greek</option>
              <option value="Italian">Italian</option>
              <option value="Polish">Polish</option>
              <option value="Romanian">Romanian</option>
              <option value="Russian">Russian</option>
              <option value="Serbian">Serbian</option>
              <option value="Turkish">Turkish</option>
            </select>
          </li>
        </ul>
      </div>
    </nav>

    <!-- MAIN MENU -->

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Facilities</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">F.A.Q.s</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Contact</a>
      </li>
    </ul>

    <!-- LOG-IN PAGE CONTENT -->

    <div class="container">
  		<div class="row">
  			<div class="col-sm-12" style="text-align:center">
  				<form action="***" method="post" id="logInForm">
  					<input type="hidden" name="action" value="userLogIn">
  					<br>
    				<h2><strong>Log-in</strong></h2>
            <p>Please insert your credentials</p>

            <div>
    					<label>
    						<input class="form-control" id="email" name="email" type="email" placeholder="your email" required requiredMessage="Please enter your email">
    					</label>
    				</div>
    				<div>
    					<label>
    						<input class="form-control" id="password" name="password" type="password" placeholder="your password" required requiredMessage="Please enter your password">
    					</label>
    				</div>

            <br>
    				<input class="btn btn-primary" type="submit" value="Log-in">
            <br> <br>
            <p><a href="./signup.html">Don't have an account?</a></p>
          </form>
  			</div>
  		</div>
  	</div>

    <!-- FOOTER  -->

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

  </body>

</html>
