<!DOCTYPE html>

<html lang="en">
  <head>
    <link rel="icon" href="../images/toplogo.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitionalt//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">-->
    <title>IKA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   <!-- <link rel="stylesheet" href="../css/main.css"> -->

    <style>

    .masthead{
      padding: 11px;
    }
    .container {
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 15px;
    }

    .btn-secondary {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.65);
        border-color: #ccc;
    }
    a {
      color: #333333;
    }

    .bg-primary {
      background-color: rgba(0, 0, 0, 0.57)!important;
    }

    </style>

  </head>
<body>
 
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="col-md-2"></div>
      <div>
        <a class="navbar-brand" href="#"><img src="../images/ikalogo.png" style="width:120px;" alt="logo"></a>
      </div>
      <div class="col-md-3">
        <form class="navbar-collapse collapse" id="navbarsExampleDefault2">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <div class="col-md-2"></div>
      <div role="navigation" class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false" style="">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Log In</a>
          </li>
          <li class="navbar-item">
            <select class="custom-select">
              <option value="Albanian">Albanian</option>
              <option value="Bulgarian">Bulgarian</option>
              <option value="Egyptian">Egyptian</option>
              <option value="English" selected>English</option>
              <option value="French">French</option>
              <option value="German">German</option>
              <option value="Greek">Greek</option>
              <option value="Italian">Italian</option>
              <option value="Polish">Polish</option>
              <option value="Romanian">Romanian</option>
              <option value="Russian">Russian</option>
              <option value="Serbian">Serbian</option>
              <option value="Turkish">Turkish</option>
            </select>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Insurance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Retirment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Disability</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Employers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>

        </ul>
         <hr>
      </div>
      <div class="container">      
      <div class="row">
        <div class="col-md-6">

          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <a href="#">
                  <img class="d-block img-fluid" src="../images/sun5.jpg" alt="First slide">
                  <div class="carousel-caption d-block bg-primary d-md-block">
                    <h3>New Pension Scheme</h3>
                    <p>See what changes brings the new law enforcement<span class="badge badge-default">Retirement</span></p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="#">
                  <img class="d-block img-fluid" src="../images/apd5.jpg" alt="Second slide">
                  <div class="carousel-caption d-block bg-primary d-md-block">
                    <h3>Time Extension for December's Analytic Periodic Report<span class="badge badge-default">New</span></h3>
                    <p>Deadline set at late January 2018<span class="badge badge-default">Employers</span></p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="#">
                  <img class="d-block img-fluid" src="../images/koin5.jpg" alt="Third slide">
                  <div class="carousel-caption d-block bg-primary d-md-block">
                    <h3>New Social subsidy criteria</h3>
                    <p>See if you are qualified<span class="badge badge-default">All</span></p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="#">
                  <img class="d-block img-fluid" src="../images/eis5.jpg" alt="Third slide">
                  <div class="carousel-caption d-block bg-primary d-md-block">
                    <h3>Extra Insurance Contribution</h3>
                    <p>Calculate your bounty<span class="badge badge-default">Insurance</span></p>
                  </div>
                </a>
              </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        </div>
      <div class="col-md-6">
        <div class="row">
          <div class="card-deck">
            <div class="card card-inverse">
              <img class="card-img" src="../images/2.jpg" alt="Card image cap" height="250" width="250">
              <div class="card-img-overlay">
                <a href="#" class="btn btn-secondary ">Insurance</a>
              </div>
            </div>
            <div class="card card-inverse">
              
              <img class="card-img" src="../images/1.jpg" alt="Card image cap" height="250" width="250">
              <div class="card-img-overlay">
                <a href="#" class="btn btn-secondary ">Retirment</a>
              </div>
            </div>
          </div>      
        </div>

        <div class="row"></div>
        <div class="row">
          <div class="card-deck">
            <div class="card card-inverse">
              <img class="card-img" src="../images/3.jpeg" alt="Card image cap" height="250" width="250">
              <div class="card-img-overlay">
                 <a href="#" class="btn btn-secondary ">Employers</a>
              </div>
            </div>
            <div class="card card-inverse">
              <img class="card-img" src="../images/4.jpg" alt="Card image cap" height="250" width="250">
              <div class="card-img-overlay">
                 <a href="#" class="btn btn-secondary ">Disability</a>
              </div>
            </div>
          </div>      
        </div>
      </div>

    </div>
     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

</body>

</html>
