
<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitionalt//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <title>IKA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>

  <body>

    <!-- NAVEBAR -->

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">IKA IMAGE</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 search-bar">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Signup</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="navbar-item">
            <select class="custom-select">
              <option value="Albanian">Albanian</option>
              <option value="Bulgarian">Bulgarian</option>
              <option value="Egyptian">Egyptian</option>
              <option value="English" selected>English</option>
              <option value="French">French</option>
              <option value="German">German</option>
              <option value="Greek">Greek</option>
              <option value="Italian">Italian</option>
              <option value="Polish">Polish</option>
              <option value="Romanian">Romanian</option>
              <option value="Russian">Russian</option>
              <option value="Serbian">Serbian</option>
              <option value="Turkish">Turkish</option>
            </select>
          </li>
        </ul>
      </div>
    </nav>

    <!-- MAIN MENU -->

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Facilities</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">F.A.Q.s</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Contact</a>
      </li>
    </ul>

    <!-- MAIN PAGE CONTENT -->
    <ul class="nav justify-content-center">
      <li>
        <div class="col-sm-24">
          <div class="card">
            <div class="card-block">
              <h3 class="card-title">Special title treatment</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-block">
                <h3 class="card-title">Special title treatment</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <!-- FOOTER  -->

    <!-- Three columns of text below the carousel -->
    <footer>
      <div class="row">
        <div class="col-lg-3">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="100">
          <h2>Appointments</h2>
          <p>Schedule an appointment with a doctor or a specialist.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="100">
          <h2>Pension Calculator</h2>
          <p>Calculate your pension.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="100">
          <h2>Employment Program</h2>
          <p>Learn more about our employment program.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
        <div class="col-lg-3">
          <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="100" height="100">
          <h2>Obtain AMKA</h2>
          <p>Obtain a "Social Insurance Record Number" (AMKA).</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-3 -->
      </div><!-- /.row -->
    </footer>

  </body>

</html>
