
<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitionalt//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <title>IKA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>

  <body>

    <!-- NAVEBAR -->

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">IKA IMAGE</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 search-bar">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Signup</a>
          </li>
          <li class="navbar-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="navbar-item">
            <select class="custom-select">
              <option value="Albanian">Albanian</option>
              <option value="Bulgarian">Bulgarian</option>
              <option value="Egyptian">Egyptian</option>
              <option value="English" selected>English</option>
              <option value="French">French</option>
              <option value="German">German</option>
              <option value="Greek">Greek</option>
              <option value="Italian">Italian</option>
              <option value="Polish">Polish</option>
              <option value="Romanian">Romanian</option>
              <option value="Russian">Russian</option>
              <option value="Serbian">Serbian</option>
              <option value="Turkish">Turkish</option>
            </select>
          </li>
        </ul>
      </div>
    </nav>

    <!-- MAIN MENU -->

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Facilities</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">F.A.Q.s</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Contact</a>
      </li>
    </ul>

    <!-- MAIN PAGE CONTENT -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title">Something new and important</h3>
              <p class="card-text">Some words about this something new and important.</p>
              <a href="#" class="btn btn-primary">View details</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title">Insured</h3>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title">Employers</h3>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title">Retired</h3>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title">People with Special Needs</h3>
              <a href="#" class="btn btn-primary">Go</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MORE SUPPORTIVE CONTENT  -->

    <!-- Three columns of text below the carousel -->
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="background-color: orange; border-color: orange;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title">Appointments</h3>
              <p class="card-text">Are you feeling weird lately? Don't wait any longer! Schedule an appointment with a doctor or a specialist.</p>
              <a href="#" class="btn btn-primary">Schedule now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="background-color: orange; border-color: orange;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title">Pension Calculator</h3>
              <p class="card-text">Are you about to retire or you just want to plan ahead? Calculate your pension.</p>
              <a href="#" class="btn btn-primary">Calculate now</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="background-color: orange; border-color: orange;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title">Employment Program</h3>
              <p class="card-text">Thoudands of lives change every month! Learn more about our employment program.</p>
              <a href="#" class="btn btn-primary">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="background-color: orange; border-color: orange;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
              <h3 class="card-title">Obtain AMKA</h3>
              <p class="card-text">Do you want to obtain a "Social Insurance Record Number" (AMKA)? It takes just a few steps, it lasts a lifetime.</p>
              <a href="#" class="btn btn-primary">View Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER  -->

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

  </body>

</html>
