<?xml version="1.0" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitionalt//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <title>IKA Profile</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
  </head>

  <body>

    <!-- NAVBAR -->

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">IKA IMAGE</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 search-bar">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="navbar-item">
            <a class="nav-link" href="#">Log out</a>
          </li>
          <li class="navbar-item">
            <select class="custom-select">
              <option value="Albanian">Albanian</option>
              <option value="Bulgarian">Bulgarian</option>
              <option value="Egyptian">Egyptian</option>
              <option value="English" selected>English</option>
              <option value="French">French</option>
              <option value="German">German</option>
              <option value="Greek">Greek</option>
              <option value="Italian">Italian</option>
              <option value="Polish">Polish</option>
              <option value="Romanian">Romanian</option>
              <option value="Russian">Russian</option>
              <option value="Serbian">Serbian</option>
              <option value="Turkish">Turkish</option>
            </select>
          </li>
        </ul>
      </div>
    </nav>

    <!-- MAIN MENU -->

    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Facilities</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">F.A.Q.s</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-secondary" href="#">Contact</a>
      </li>
    </ul>

    <!-- PROFILE PAGE CONTENT -->

    <div class="container">
  		<div class="row">
  			<div class="col-sm-12" style="text-align:center">
  				<form action="***" method="post" id="signUpForm">
  					<input type="hidden" name="action" value="userSignUp">
  					<br>
    				<h2><strong>Your profile</strong></h2>
            <p>You can modify your details, credentials and preferences as desired</p>

            <br>
            <p><strong>Details and Credentials</strong></p>
            <div class="row">
              <div class="col-md-3 form-group">
      					<label>
      						<input class="form-control" id="firstName" name="firstName" type="text" placeholder="First name" required requiredMessage="Please enter your first name" pattern=".{1,45}">
      					</label>
      				</div>
      				<div class="col-md-3 form-group">
                <label>
      						<input class="form-control" id="secondName" name="secondName" type="text" placeholder="Second name" required requiredMessage="Please enter your second name" pattern=".{1,45}">
      					</label>
      				</div>
              <div class="col-md-3 form-group">
      					<label>
      						<input class="form-control" id="fathersName" name="fathersName" type="text" placeholder="Father's name" required requiredMessage="Please enter your father's name" pattern=".{1,45}">
      					</label>
      				</div>
      				<div class="col-md-3 form-group">
                <label>
      						<input class="form-control" id="mothersName" name="mothersName" type="text" placeholder="Mother's name" required requiredMessage="Please enter your mother's name" pattern=".{1,45}">
      					</label>
      				</div>
            </div>

            <div class="row">

              <label for="dateOfBirth" class="col-2 col-form-label">Date of Birth</label>
              <div class="col-md-2">
                <input class="form-control" type="date" value="1980-08-19" id="dateOfBirth">
              </div>

              <div class="col-md-3 form-group">
                <label>
      						<input class="form-control" id="placeOfBirth" name="placeOfBirth" type="text" placeholder="Place of birth" required requiredMessage="Please enter your place birth" pattern=".{1,45}">
      					</label>
      				</div>
              <div class="col-md-3 form-group">
      					<label>
      						<input class="form-control" id="homeAddress" name="homeAddress" type="text" placeholder="Home address" required requiredMessage="Please enter your home address" pattern=".{1,45}">
      					</label>
      				</div>
              <div class="col-md-2 form-group">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sex
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Man</button>
                    <button class="dropdown-item" type="button">Woman</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 form-group">
      					<label>
      						<input class="form-control" id="postalCode" name="postalCode" type="text" placeholder="Postal code" required requiredMessage="Please enter your postal code" pattern=".{1,45}">
      					</label>
      				</div>
              <div class="col-md-3 form-group">
      					<label>
      						<input class="form-control" id="AFM" name="AFM" type="text" placeholder="AFM" required requiredMessage="Please enter your AFM" pattern=".{1,45}">
      					</label>
      				</div>
      				<div class="col-md-3 form-group">
                <label>
      						<input class="form-control" id="IDNumber" name="IDNumber" type="text" placeholder="ID number" required requiredMessage="Please enter your ID number" pattern=".{1,45}">
      					</label>
      				</div>
      				<div class="col-md-3 form-group">
                <label>
      						<input class="form-control" id="phone" name="phone" type="tel" placeholder="Phone number" required requiredMessage="Please enter your phone number" pattern=".{1,45}">
      					</label>
      				</div>
            </div>

            <div class="row">

              <label for="email" class="col-1 col-form-label">Email</label>
              <div class="col-md-4">
                <input class="form-control" type="email" value="joedoe@somemail.com" id="email">
              </div>

              <div class="col-md-3 form-group">
                <label>
      						<input class="form-control" id="password" name="password" type="password" placeholder="Password" required requiredMessage="Please enter your password" pattern=".{1,45}">
      					</label>
      				</div>
              <div class="col-md-3 form-group">
                <label>
      						<input class="form-control" id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm password" required requiredMessage="Please confirm your password" pattern=".{1,45}">
      					</label>
      				</div>
            </div>

            <br>
            <p><strong>Notifications and Updates</strong></p>
            <div class="row">
              <div class="form-check col-md-6 form-group">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked data-toggle="tooltip" data-placement="bottom" title="You will be notified for matters concerning your applications, questions, appointments etc.">
                  I want to receive account related notifications by email
                </label>
              </div>
              <div class="form-check col-md-6 form-group">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" data-toggle="tooltip" data-placement="bottom" title="You will be updated for general matters concerning all IKA clients.">
                  I want to receive updates concerning IKA by email
                </label>
              </div>
            </div>

            <br>
            <p><strong>History and action-tracking</strong></p>
            <div class="row">
              <div class="form-check col-md-6 form-group">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked data-toggle="tooltip" data-placement="bottom" title="This history is going to remain strictly confidential and available only to you.">
                  I want a complete history of my actions to be kept
                </label>
              </div>
              <div class="form-check col-md-6 form-group">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked data-toggle="tooltip" data-placement="bottom" title="For this we will need to monitor your actions, to be able to help you. Your data is going to remain strictly confidential and available only to you.">
                  I want auto-complete in my forms
                </label>
              </div>
            </div>

            <br>
            <p><strong>Special assistance</strong></p>
            <div class="row">
              <div class="form-check col-md-4 form-group">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" data-toggle="tooltip" data-placement="bottom" title="This way you can ask questions and our specialized software will be able to assist you.">
                  Turn microphone on when I log-in
                </label>
              </div>
              <div class="form-check col-md-4 form-group">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" data-toggle="tooltip" data-placement="bottom" title="When your cursor remains inert for more than 3 seconds, we are going to zoom-in to where it points.">
                  Zoom-in when my cursor focuses
                </label>
              </div>
              <div class="form-check col-md-4 form-group">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" data-toggle="tooltip" data-placement="bottom" title="When you remain inert for more than 10 seconds, our specialized software will automatically step-in to assist you.">
                  Vocal guidance after prolongued inertia
                </label>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col-md-6 form-group">
                <button type="button" class="btn btn-outline-danger">Cancel</button>
              </div>
              <div class="col-md-6 form-group">
        				<input class="btn btn-primary" type="submit" value="Save">
                <br> <br>
              </div>
            </div>

          </form>
  			</div>
  		</div>
  	</div>

    <!-- FOOTER  -->

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  </body>

</html>
