.navbar-nav > li {
  padding-left:5px;
  padding-right:5px;
}

.navbar-nav > li {
  padding-left:5px;
  padding-right:5px;
}

.nav > li {
	padding-top:5px;
  padding-left:30px;
  padding-right:30px;
}

.nav > li {
	margin-top:5px;
  padding-left:30px;
  padding-right:30px;
}
