.masthead {
  padding: 11px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

a {
  color: #333333;
}

.bg-primary {
  background-color: rgba(0, 0, 0, 0.57)!important;
}

.navbar-nav > li {
  padding-left:5px;
  padding-right:5px;
}

.navbar-nav > li {
  margin-left:5px;
  margin-right:5px;
}

.inner-nav1 > li {
	padding-top:5px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:5px;
}

.inner-nav2 > li {
	padding-top:5px;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:5px;
}

.row {
  padding-bottom:5px;
}

.row {
  margin-bottom:5px;
}
