/* NOT USED - SERVER AS A GUIDELINE */

.masthead{
  padding: 11px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.btn-secondary {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.65);
    border-color: #ccc;
}
a {
  color: #333333;
}

.bg-primary {
  background-color: rgba(0, 0, 0, 0.57)!important;
}

